body{
	background-color: grey;
	

}

.wrapper{
	width:804px;
	margin:25px auto;
}
.fon_block{
	
	width: 400px;
	margin-right: -4px;
	height: 480px;
	display: inline-block;
	background: url(img/мышь.jpg) no-repeat;
	background-size: cover;
	list-style: none;
}

.fon_block1{
	width: 400px;
	height: 480px;
	display: inline-block;
	background-color: white;
	vertical-align: top;
}

.zag{
	line-height: 150px;
	text-transform: uppercase;
}